@page {
    size: A4;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    width: 210mm; /* A4 tiene un ancho de 210mm */
    height: 297mm; /* A4 tiene una altura de 297mm */
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    width: 100%; 
    max-width: 900px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    margin: 20px auto;
    padding: 10px; 
}

.sidebar {
    width: 250px;
    background-color: #003399;
    color: #fff;
    padding: 20px;
    text-align: center;
    flex-shrink: 0;
}

.main-content {
    width: calc(100% - 250px);
    padding: 20px;
    box-sizing: border-box;
}

.profile-photo {
    width: 80px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.contact-info a {
    color: #ffdd57;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #003399;
}

h3 {
    font-size: 18px;
    margin-top: 20px;
}

ul {
    list-style: none;
    padding: 0;
}
